<!DOCTYPE html>
<html>

<head>
    <title>Share File</title>

    <style>

        body{
            font-family: Arial;
            padding: 40px;
        }

        form{
            width: 300px;
        }

        select, button{
            width: 100%;
            padding: 12px;
            margin-top: 10px;
        }

        button{
            background: #4285f4;
            color: white;
            border: none;
            border-radius: 8px;
        }

    </style>
</head>

<body>

<h2>Share {{ file.filename }}</h2>

<form method="POST">

    {% csrf_token %}

    <select name="user">

        {% for user in users %}

        <option value="{{ user.id }}">
            {{ user.username }}
        </option>

        {% endfor %}

    </select>

    <select name="permission">

        <option value="view">
            View
        </option>

        <option value="edit">
            Edit
        </option>

    </select>

    <button type="submit">
        Share File
    </button>

</form>

</body>
</html>